# https://stackoverflow.com/questions/51124056/opencvimread-operation-stuck-in-elastic-beanstalk
# https://stackoverflow.com/questions/11315043/opencv-imread-hanging-when-called-from-a-web-request/42929226#42929226
container_commands:  
  AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
